## Project #1, Lab 3 - Creating and Applying Conditional variables, Sorting values, Handling Dates

Make sure to load necessary packages and your datasets first!

In [3]:
import pandas as pd

In [5]:
## Load data

air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')

## Turn data into a dataframe

air_data = pd.DataFrame(air_data)

## View data

print (air_data)

          date  monitor_index   humidity    pressure  temperature         voc  \
0     02/23/24         195089  14.377667  912.884333    62.266667   51.998667
1     02/23/24         195365  12.223600  926.403000    71.193400   64.920800
2     02/23/24         195541  20.095750  905.670750    61.008250   68.307000
3     02/24/24         195089  25.368000  911.708833    51.462458   91.176750
4     02/24/24         195365  23.703083  925.282125    56.818208  107.863708
...        ...            ...        ...         ...          ...         ...
8296  03/24/25         195373  23.636208  915.998292    61.489083  421.493750
8297  03/24/25         195379  28.043545  954.294546    66.009182  301.074800
8298  03/24/25         195383  31.451375  936.556583    55.752792  353.478000
8299  03/24/25         195385        NaN         NaN          NaN         NaN
8300  03/24/25         195541  20.494500  901.484750    61.222167  485.556417

      analog_input  pm2.5_alt  pm1.0_atm  pm2.5_atm  pm10.0_atm  \
0         0.051333   0.100000   0.000000   0.002500    0.039667
1         0.000000   0.180000   0.004800   0.020000    0.176000
2         0.020000   0.162500   0.004125   0.014812    0.063937
3         0.052667   0.437500   0.099542   0.170667    0.355208
4         0.000000   0.475000   0.099208   0.231687    0.548583
...            ...        ...        ...        ...         ...
8296      0.020000   0.762500   0.486583   0.830021    1.416125
8297      0.000000   0.800000   5.625545   5.873364    6.056773
8298      0.050000   0.575000   0.267500   0.478375    0.818146
8299      0.010000   0.970833   0.739500   1.088604    1.340563
8300      0.020000   0.554167   0.132083   0.340417    0.737375

      sensor.latitude  sensor.longitude  sensor.altitude  \
0           40.050922       -101.533570             3005
1           40.200330       -100.639885             2576
2           41.128284       -101.720220             3220
3           40.050922       -101.533570             3005
4           40.200330       -100.639885             2576
...               ...               ...              ...
8296        41.148170       -100.761800             2800
8297        40.877007        -97.579445             1639
8298        41.779380        -99.138040             2174
8299        40.019714        -98.071840             1597
8300        41.128284       -101.720220             3220

                                            sensor.name
0                                      Swnphd-Benklemen
1                                         Swnphd-mccook
2                                       Swnphd-ogallala
3                                      Swnphd-Benklemen
4                                         Swnphd-mccook
...                                                 ...
8296                                WCDHD City Building
8297                                           FCHD-YPS
8298                Loup Basin Public Health Department
8299  South Heartland District Health Dept. Superior...
8300                                    Swnphd-ogallala

[8301 rows x 15 columns]

# include multiple catagories into stat summary 
stat_summary = air_data.groupby( "sensor.name").agg ({
    'pm2.5_atm':['max', 'min', 'mean', 'median'],
    'pm10.0_atm':['max', 'min', 'mean', 'median']
})

### Creating Categories

One thing we may want to do with our code is to create categories based on a variable. For example, our temperature data in this data set is numerical, but the UNMC Group has defined temperature categories. We may want to create a new column that "looks" at the temperature column and then assigns a category to each temperature in a new column.  Every function starts with `def`.  Then the blue text after `def` is the name of your function.  Your function takes `arguments`, variables that can be inputed to the function. Don't forget to put `:` after your arguments so that Python knows to indent!  Then we use a series of `elif` statements to define what happens to the variable when it is put into the function.

In [25]:
# assign temperature label based on data
# step 1: define function 
# step 2: apply function

def assign_temperature(X):     # this finction takes only one value 
    if X <32:
        return 'Below Freezing' 
    elif 32<= X <= 50: 
        return "Cool"
    elif 50 < X<= 70:
        return "warm"
    else: 
        return "hot"

Now that we have the function, we need to `apply` that function to our data. If we have a created a function, it doesn't mean this function has been used yet, its just defined in what we call the 'global environment'.  To make sure our function is applied to our data our steps are as follows:
1. Make sure we `apply` the function to the column we want to be manipulated
2. Assign the new column we create to a column name inside our original dataset

In [23]:
## Apply your function to the temperature column in your air_data

# want to create a new column inside of air_data

air_data ['temperature_level']=air_data ['temperature'].apply(assign_temperature)

air_data.head(5)

NameError: name 'assign_temperature' is not defined

#### Lab Activity #1: Create a function for altitude levels
Create a function that assigns three different levels to altitude: Low, Medium and High.  You can choose what values to set as your conditions in this function.

In [21]:
### Enter your response to Lab Activity #1 in the space below:

def assign_altitude(Y):     # this finction takes only one value 
    if Y <1000:
        return 'Low'
    elif 1000<= Y <= 3000: 
        return 'Medium'
    else: 
        return 'High'

air_data ['altitude_level']=air_data ['sensor.altitude'].apply(assign_altitude)

air_data.head(5)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,altitude_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,High
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Medium
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,High
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,High
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Medium

### Sorting our data

Let's start by reminding ourselves how to aggregate data.  Let's calculate the max, min, mean, and median of the `pm_2.5` values and name this new data set something besides `air_data`

In [19]:
## Group your data
### Aggregate the grouped data
### Make sure the students take the mean, median and max of the values of the columns.  
## Summary stats on PM 2.5

air_data_group = air_data.groupby('sensor.name').agg(max = ('pm2.5_atm', 'max'), 
            min = ('pm2.5_atm', 'min'), 
            mean = ( 'pm2.5_atm', 'mean'), 
            median = ('pm2.5_atm', 'median'))

print( air_data_group)

                                                            max       min  \
sensor.name
#16 - Richardson County Courthouse                  3782.823313  0.243729
#17 - Otoe County                                     37.250062  0.000000
#18 - Southeast District Health Department- Tec...  2987.467563  0.140708
Ainsworth Public School #9                            43.320062  0.089375
Broken Bow                                          3205.868854  0.019187
Buffalo County TRPHD #26                              42.225333  0.005896
ELVPHD Norfolk HD 4                                   79.972917  0.307896
ELVPHD Tekamah HD 3                                   45.881250  0.104938
ELVPHD Wisner HD 5                                    51.984812  0.154271
FCHD-YPS                                             363.201104  0.013125
Laurel High School                                    38.736938  0.080250
Loup Basin Public Health Department                  230.482438  0.034708
Lower Niobrara NRD Butte 10                           45.030938  0.082437
NCDHD O'Neill #11                                   2078.873729  0.136958
PHS Fairbury JCHL 13                                  52.773958  0.045604
SWNPHD-Imerial                                        49.004625  0.001313
South Heartland District Health Dept. Hastings ...    47.330646  0.063292
South Heartland District Health Dept. Superior ...    40.539417  0.043271
Swnphd-Benklemen                                     188.156771  0.002500
Swnphd-mccook                                       3053.114292  0.020000
Swnphd-ogallala                                     1320.155667  0.004188
TRPHD Dawson Co. Courthouse 25                      2363.017646  0.033188
TRPHD Harlan Co. Courthouse 24                        42.725625  0.009542
Three Rivers Public Health Department                 51.491208  0.171833
WCDHD Arthur High School 28                           46.354292  0.024729
WCDHD City Building                                   32.589521  0.031354
WCDHD Thedford Library 29                             36.138729  0.028396

                                                          mean     median
sensor.name
#16 - Richardson County Courthouse                  700.127342  11.977344
#17 - Otoe County                                     9.755345   7.687563
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
Ainsworth Public School #9                           10.697058   8.389740
Broken Bow                                          928.710593  36.050240
Buffalo County TRPHD #26                              8.479442   5.698500
ELVPHD Norfolk HD 4                                  13.369492   9.706229
ELVPHD Tekamah HD 3                                   9.482822   6.418302
ELVPHD Wisner HD 5                                   11.154420   8.464583
FCHD-YPS                                              9.167842   5.838188
Laurel High School                                    8.635639   5.312083
Loup Basin Public Health Department                   8.561095   5.213938
Lower Niobrara NRD Butte 10                           8.041274   5.691250
NCDHD O'Neill #11                                   164.495078   7.251208
PHS Fairbury JCHL 13                                  9.405360   6.714948
SWNPHD-Imerial                                        6.329091   3.338094
South Heartland District Health Dept. Hastings ...    8.915233   6.251146
South Heartland District Health Dept. Superior ...    8.851045   6.844604
Swnphd-Benklemen                                      7.501374   4.215375
Swnphd-mccook                                       123.011622   4.582281
Swnphd-ogallala                                      10.396579   3.518510
TRPHD Dawson Co. Courthouse 25                       18.080629   5.776813
TRPHD Harlan Co. Courthouse 24                        7.927510   5.329063
Three Rivers Public Health Department                 9.601760   6.860375
WCDHD Arthur High School 28                           6.658474   3.921687
WCDHD City Building                                   3.971512   2.830708
WCDHD Thedford Library 29                             6.219710   3.288542

Now that we have the aggregated data, let's sort our values to find the top 5 highest means by location.  We create a new dataframe and append the `sort_values()` function, giving it a specific set of arguments to let `.sort_values()` know what to sort `by` and if the order is `ascending` or `descending`.

In [17]:
### Find the top 5 locations with the highest mean and median values of each parameter
### PM 2.5 Mean
## Here is a link to how this code was generated: https://chatgpt.com/share/695e9143-2c74-8000-bed2-06b976fb8e95 

top5_pm25 = air_data_group.sort_values(by = 'mean', ascending = False)
top5_pm25

NameError: name 'air_data_group' is not defined

#### Lab Activity #2: VOC summary
Create an aggregated summary of vocs by the max value.  Print out the first 10 rows of the data set grouped by monitor_index

In [15]:
### Enter your response to Lab Activity #2 in the space below
# step 1: grouping data
# step 2: agriggating stats 
# step 3: sorting 

air_data_group_VOC = air_data.groupby('monitor_index').agg(min = ('voc', 'min'))

top10_VOC = air_data_group_VOC.sort_values(by = 'min', ascending = False).head(10)


top10_VOC

                     min
monitor_index
195331         63.229500
195541         61.427708
195383         61.308542
195385         61.250208
195349         60.668500
195333         59.699833
195319         58.919000
195373         58.045708
195347         57.366292
195329         57.159875

#### Sorting by Dates
Dates can sometimes be difficult to wrangle in Python.  Luckily the AirPurple dataset is a 'clean' dataset which has dates formatted as mm/dd/yy which Python easily recognizes once the `air_data` is in a dataframe.  Let's use `.sort_values()` as above to sort by date.  First we will select only three columns: `date`, `sensor.name` and `voc`.  Then sort by date.

In [11]:
### Apply filters
## Sort values by date

unhealthy_voc = air_data[air_data['voc']>= 25] # taking only rows of data with voc greater than 25 

unhealthy_date = unhealthy_voc.sort_values('date')

unhealthy_date


### what if I only want a table that shows the date, voc, and location
unhealthy_dates = unhealthy_voc[['date','sensor.name', 'voc']].sort_values('date')
unhealthy_dates

          date                                        sensor.name         voc
6552  01/01/25                                     SWNPHD-Imerial  377.393125
6571  01/01/25                                    Swnphd-ogallala  522.399333
6570  01/01/25  South Heartland District Health Dept. Superior...  199.845625
6569  01/01/25                Loup Basin Public Health Department  193.350875
6568  01/01/25                                           FCHD-YPS  232.136042
...        ...                                                ...         ...
6532  12/31/24                                     SWNPHD-Imerial  300.181458
6549  12/31/24                Loup Basin Public Health Department  145.707458
6550  12/31/24  South Heartland District Health Dept. Superior...  115.970583
6540  12/31/24                                  #17 - Otoe County  247.865667
6548  12/31/24                                           FCHD-YPS  210.853833

[7860 rows x 3 columns]

### Calculating Mode
The mode is most appropriate for categorical variables or values that repeat exactly.Continuous measurements such as VOC or PM concentrations are better summarized using mean, median, or maximum values. But we can calculate mode for their categories. In this example, we are categorizing the `pm2.5_atm` values and using the categories to calculate mode for each `monitor_index`. 

We do not necessarily expect large differences in PM2.5 across locations. This analysis helps us identify whether different typical air-quality conditions are experienced or whether conditions are broadly similar across the network.

In [ ]:
# Defining a function for categorizing pm2.5_atm


# Applying this function to the dataset

In [ ]:
# grouping by monitor index


# finding the pm2.5_atm category mode

#### Lab Activity #3: Combine Lab 2 and Lab 3
Let's combine everything we've learned about organizing data so far.  In the space below, write code that meets the following requests:
1. Filters for only Warm temperatures
2. Presents the median of the voc concentration
3. Groups the data by sensor altitude
4. Shows only the top 3 rows of data with sensor altitude

In [13]:
### Enter your response to the Lab #3 Activity in the space below



warm_air = air_data[air_data['temperature_level'] == 'warm'].groupby('sensor.altitude')

median_warm_air = warm_air.agg(mean = ("voc",'mean'))

median_warm_air.sort_values( by = 'mean', ascending = False).head(5)

KeyError: 'temperature_level'